@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: "Rokh Medium";
    src: url(/font/RokhFaNum-Medium.ttf);
    font-display: swap;
  }
  @font-face {
    font-family: "Rokh Bold";
    src: url(/font/RokhFaNum-Bold.ttf);
    font-display: swap;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #b0b0b0;
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4f4f4f;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2c2c2c;
  }
}

@layer components {
  .headerItem{
    @apply flex flex-col gap-2 items-center cursor-pointer w-20 sm:w-40;
  }
  .product {
    @apply rounded-2xl p-2 md:p-5 dark:bg-[#493628] bg-white shadow-sm;
  }
    html.dark .products {
      background-image: url("/bg-products.png");
    }
    .products {
      background: linear-gradient(
          rgba(243, 244, 246, 0.65),
          rgba(243, 244, 246, 0.65)
        ),
        url("/bg-products.png");
      background-size: 100%;
      background-repeat: no-repeat;
    }

  .discount {
    @apply flex items-center font-RokhBold absolute bg-orange-300 top-1.5 right-1.5 text-white dark:text-zinc-700 text-sm md:text-base px-2.5 md:px-3.5 h-5 md:h-[30px] rounded-full;
  }
}